.home{
    font-family: 'Roboto';    
}

#c{
    color: bisque;
}
#head{
    color: darkred;
    text-align: center;
    margin-top: 20px;
}

.home p{
    margin: 70px 100px 75px 100px;
    text-align: justify;
}